@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Voces&display=swap')

.title
  font-family 'Marcellus SC', serif
  line-height 2.7rem
  color white
  font-size 36px
  font-weight bold

.subtitle
  font-family 'Voces', cursive
  line-height 1.8rem
  color white
  font-size 14px
  font-weight normal
  padding-bottom 6px

.footext
  font-family 'Voces', cursive
  line-height 1.8rem
  color #606266
  font-size: 12px
